<!doctype html>
<html>
<head>
     <title>Heart Rate Monitor</title>
</head>
<body>
    <h3>The statistics of heart rates are as below: </h3>
    <ol>
        <li>Minimum heart rate: <%= min%> bpm</li>
        <li>Maximum heart rate: <%= max%> bpm</li>
        <li>Mean: <%= mean%> bpm</li>
        <li>Median: <%= median%> bpm</li>
    </ol>
</body>
</html>